.colorspace-labels {
    display: flex;
    margin: 0 auto;
}

.colorspace-labels > div > input[type=radio] {
    /*display: none;*/
}

.colorspace-labels > div > label {
    display: block;
    margin: 0 20px;
}