body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  color: #2a3a3f;
  font-size: 14pt;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

#root>div {
  height: 100%;
}

h2 {
  font-size: 18pt;
  font-weight: 300;
}

li {
  list-style: none;
  display: inline-block
}

h3 {
  text-align: center;
  font-size: 24pt;
  font-weight: 300;
}
