.layout {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
  color: #4a4a5f;
  font-size: 14pt;
}
h3 {
  text-align: center;
  font-size: 24pt;
  font-weight: 300;
}