.render-button {
  order: 3;
  display: block;
  margin: 5ex auto;
  padding: 2ex;
  width: 100%;
  -webkit-appearance: none;
  border: 0;
  border-radius: 8px;
  outline: 0;
  font-weight: 300;
  color: #2a3a3f;
  font-size: 14pt;
  cursor: pointer;
  background: #d7dcdf;
  transition: all .25s ease;
}

.render-button:active {
  background: #02b3e4;
}

.render-button:hover {
  background: #02b3e4;
}
