.slider {
  -webkit-appearance: none;
  margin: 18pt auto;
  width: 100%;
  padding: 0 2em;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #d7dcdf;
  border-radius: 4px;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #d7dcdf;
}

.slider::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #a5acb1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.slider:hover::-webkit-slider-thumb {
  background: #02b3e4;
}

.slider:active::-webkit-slider-thumb {
  background: #02b3e4;
}
