.slider-controls {
  order: 2;
  display: flex;
  flex-flow: column;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-titles {
  width: 85px;
}

.slider-value-display {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 55px;
  height: 30pt;
  padding: 1ex;
  border-radius: 8px;
  border: none;
  background: #d7dcdf;
  font-size: 10pt;
  font-weight: 300;
  text-align: center;
  color: #2a3a3f;
  margin-left: 8px;
  outline: 0;
}
